<div class="d-flex justify-content-center align-items-center" style="height:100px;">
<div class="row">
  <div class="col-md-6 text-center">
    <div class="card card-user">
      <div class="author">
        <img class="avatar border-gray" src="assets/img/default-avatar.png" alt="...">
      </div>
      <h5 class="title">Welcome</h5>
      <div class="form-group">
        <div class="col-md-12">
          <input type="text" class="form-control" placeholder="Username" value="">
        </div>
        <br>
        <div class="col-md-12">
          <input type="password" class="form-control" placeholder="Password" value="">
        </div>
        <br>
        <button type="submit" class="btn btn-outline-success btn-round">Login</button>
      </div>
    </div>
  </div>
</div>
</div>